label,p,pre{color:#fff}
html{background-image:url(https://www.hdwallpapers.net/images/volcanic-lightning-wallpaper-for-2560x1600-61-743.jpg);background-color:#0C0C0C;background-size:100% 100%;height:100%;width:100%}
footer{position:fixed;bottom:0;left:0;width:100%;padding:10px;background-color:#fff}
footer a{color:#222;text-decoration:none}
.app{margin-top:10%}
h4{font-weight:500;color:#32EC9B}
span{color:#0ED2F9;font-size:18px}
@media (max-width:550px){footer{text-align:center}
}